name: Playwright Tests

on:
  push:
    branches: [ main ]

jobs:
  playwrighttests:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.55.1-jammy

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Give execution permission to shopping store
        run: chmod +x ./shopping-store-linux-amd64

      - name: Start shopping store application
        run: ./shopping-store-linux-amd64 &

      - name: Wait for app to be ready
        run: npx wait-on http://localhost:3000  

      - name: Install dependencies from lockfile
        run: npm ci

      - name: Run Playwright tests
        run: npm run test:ci

      - name: Upload Playwright HTML report
        if: always() 
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 7

      - name: Upload Playwright traces and results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-test-results
          path: test-results
          retention-days: 7
